@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  max-width: 1280px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 16px;
  padding-top: 50px;
} 

html.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}